*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    user-select: none;
}

.flex{
    display: flex;
}



/*  ---------------------Navbar--------------------*/

.navbar{
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    background: linear-gradient(90deg, #101023, #1a2354);
    padding: 0 150px;
}

.navbar>img{
    object-fit: cover;
    width: 150px;
}


.navbar>div.menu>img{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 0 5px;

}


div.menu{
    align-items: center;
}

.navbar>div.menu>span{
    margin: 0 20px;
    font-size: 18px;
}

.navbar>div.menu>button{
    margin: 0 5px;
    border-radius: 10px;
    padding: 15px 5px;
}


/* --------------------Main------------------- */



/* ----------------First section----------------- */


body{
    background: linear-gradient(90deg, #101023, #1a2354);
}



.conteiner{
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 150px 150px 0 150px;
    margin: auto;
    
}

div.conteiner>img{
    margin: 20px;
    object-fit: cover;
    width: 600px;
}


div.conteiner>div{
    height: 400px;
    flex-basis: 50%;
}

div.conteiner>div>ul{
    padding-left: 30px;
    font-size: 24px;
    
}


div.conteiner>div>ul>li::marker{
    color: rgb(209, 24, 185);
    font-size: 36px;
}



div.conteiner>div{
    flex-flow: column nowrap;
    justify-content: start;
    
}

div.conteiner>div>p{
    font-size: 24px;
    padding: 30px 100px 30px 0;
    margin-right: 50px;
    line-height: 40px;
    
}

div.conteiner>div.flex>h1{
    font-size: 50px;
}


button{
    width: 170px;
    border-radius: 15px;
    background-color: aqua;
    padding: 20px 10px;
    margin-top: 50px;
    font-weight: 600;
    border: 0;
    box-shadow: 0;
}

.btn{
    justify-content: center;
    align-items: center;
    font-size: 18px;

}

.btn>ion-icon{
    color: black;
}

.btn>span{
    color: black;
}


/* -----------------------Second section------------------- */



.second-conteiner{
    flex-flow: column nowrap;
    align-items: center;
    width: 90%;
    margin: 100px;
}

.second-conteiner>p{
    text-align: center;
    font-size: 24px;
}

/* Card */

div.second-conteiner>div.flex{
    justify-content: space-around;
    margin-top: 100px;
    width: 90%;
}



div.second-conteiner>div.flex>div.flex{
   width: 300px;
   flex-flow: column nowrap;
   position: relative;
   padding: 30px;
   background: linear-gradient(90deg,#231f9a 0%,#131b5d 100%);
   border-radius: 30px;
}

div.second-conteiner>div.flex>div.flex::before{
    content: "";
    position: absolute;
    top: -5px;left: -5px;right: 0;bottom: 0;
    width: 100%;
    height: 100%; 
    padding: 5px;
    background: linear-gradient(90deg,#2d27df 0%,#cb2376 100%);
    border-radius: 30px;
    z-index: -1;
} 

div.second-conteiner>div.flex>div.flex>div.flex{
    align-items: center;
}

div.second-conteiner>div.flex>div.flex>div.flex>h1{
    font-size: 50px;
    color: #cb2376;
}

div.second-conteiner>div.flex>div.flex>div.flex>h2{
    margin-left: 10px;
}